PIHOLE_INTERFACE=eth0
IPV4_ADDRESS={{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
IPV6_ADDRESS={{ ipv6_address }}
{% for server in dns_servers %}
PIHOLE_DNS_{{ loop.index }}={{ server }}
{% endfor %}
QUERY_LOGGING={{ query_logging }}
INSTALL_WEB_SERVER={{ install_web_server }}
INSTALL_WEB_INTERFACE={{ install_web_interface }}
LIGHTTPD_ENABLED={{ lighttpd_enabled }}
WEBPASSWORD=
BLOCKING_ENABLED={{ blocking_enabled }}
DNSMASQ_LISTENING={{ dnsmasq_listening }}
DNS_FQDN_REQUIRED={{ dns_fqdn_required }}
DNS_BOGUS_PRIV={{ dns_bogus_priv }}
DNSSEC={{ dnssec }}
CONDITIONAL_FORWARDING={{ conditional_forwarding }}
CONDITIONAL_FORWARDING_IP={{ conditional_forwarding_ip }}
CONDITIONAL_FORWARDING_DOMAIN={{ conditional_forwarding_domain }}
CONDITIONAL_FORWARDING_REVERSE={{ conditional_forwarding_reverse }}
