{% if default_vhost | default(true) %}
    server {
        listen       80 default_server;
        {% if default_vhost_ipv6 %}
        listen       [::]:80 default_server;
        {% endif %}
        
        server_name  _;
        root         /var/www/html;

        location / {
        }

        error_page 404 /404.html;
            location = /40x.html {
        }

        error_page 500 502 503 504 /50x.html;
            location = /50x.html {
        }
    }
{% endif %}