# Writing Logs to a File, in JSON
log:
  level: ERROR # DEBUG, PANIC, FATAL, ERROR, WARN, and INFO
  # filePath: "/path/to/log-file.log"
  # format: json

global:
  sendAnonymousUsage: false

api:
  dashboard: true

serversTransport:
  insecureSkipVerify: true
  # rootCAs:
  #   - a.crt
  #   - b.crt
# Configuring a buffer of 100 lines
accessLog:
  bufferingSize: 100

entryPoints:
  http:
    address: ":80"
  https:
    address: ":443"

providers:
{% if provider_file_directory %}
  file:
    directory: {{ installation_path }}/hosts/
    watch: true
{% endif %}

{% if provider_consul_catalog %}
  consulCatalog:
    exposedByDefault: {{ provider_consul_catalog_expose_default }}
    prefix: {{ provider_consul_catalog_prefix }}
    endpoint:
      scheme: {{ provider_consul_catalog_scheme }}
      tls:
        insecureSkipVerify: true
{% if provider_consul_catalog_data_center is defined %}
      datacenter: {{ provider_consul_catalog_data_center }}
{% endif %}
      address: {{ provider_consul_catalog_endpoint }}
{% if provider_consul_catalog_http_username is defined and provider_consul_catalog_http_password is defined %}
      httpAuth:
        username: {{ provider_consul_catalog_http_username }}
        password: {{ provider_consul_catalog_http_password }}
{% endif %}

{% endif %}

{% if provider_consul is sameas true %}
  consul:
    rootKey: {{ provider_consul_root_key }}
    tls:
      insecureSkipVerify: true
    
{% if provider_consul_username is defined %}
    username: {{ provider_consul_username }}
{% endif %}

{% if provider_consul_password is defined %}
    password: {{ provider_consul_password }}
{% endif %}

    endpoints:
{% for endpoint in provider_consul_endpoints %}
      - "{{endpoint.scheme}}://{{ endpoint.host }}:{{ endpoint.port }}"
{% endfor %}

{% endif %}

certificatesResolvers:
  cloudflare:
    acme:
      email: {{ certificate_resolver_cloudflare_email }}
      storage: {{ installation_path }}/acme.json
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: 30
        resolvers:
          - "1.1.1.1:53"
          - "1.0.0.1:53"

metrics:
  prometheus:
    buckets:
    - 0.1
    - 0.3
    - 1.2
    - 5.0
    addEntryPointsLabels: true
    addServicesLabels: true
    manualRouting: true
