# ----
# Pre
# ----
%pre
get_boot_parameter ()
{
    # Reference: https://github.com/jdeathe/packer-centos-7/blob/develop/http/centos-7-minimal.cfg
	local KEY="${1}"
	local DEFAULT="${2:-}"
	local VALUE="${DEFAULT}"

	if grep -Eiq "${KEY}=\"[^\"]*\"" /proc/cmdline; then
		# Extract space seperated values between double quotes.
		VALUE=$(
			/bin/sed "s~.*${KEY}=\"\([^\"]*\).*~\1~" \
			/proc/cmdline
		)
	elif grep -Eiq "${KEY}=[^ ]" /proc/cmdline; then
		VALUE=$(
			/bin/sed "s~.*${KEY}=\([^ ]*\).*~\1~" \
			/proc/cmdline
		)
	fi
	printf -- "${VALUE}"
}

USERNAME=$(
  get_boot_parameter USERNAME deploy
)

PASSWORD=$(
  get_boot_parameter PASSWORD
)

TIME_ZONE=$(
  get_boot_parameter TIME_ZONE UTC
)

cat > /tmp/passwordless_sudo.inc <<-EOF
echo "${USERNAME}        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/default-user
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
EOF

# Include
cat > /tmp/timezone.inc <<-EOF
timezone ${TIME_ZONE} --isUtc
EOF

cat > /tmp/rootpw.inc <<-EOF
rootpw --plaintext ${PASSWORD}
EOF

cat > /tmp/user.inc <<-EOF
user --name=${USERNAME} --plaintext --password=${PASSWORD} --groups=${USERNAME},wheel
EOF
%end
# ----
# Pre END
# ----

#version=DEVEL
install
# System authorization information
auth --enableshadow --passalgo=sha512 --kickstart
# Use CDROM installation media
cdrom
# System language
lang en_US.UTF-8

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

unsupported_hardware
network --device=eth0 --bootproto=dhcp --onboot=yes
network  --hostname=centos7

selinux --permissive

text
## Do not configure the X Window System
skipx

# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda

# Root password
%include /tmp/rootpw.inc
# System services
services --enabled=NetworkManager,sshd,chronyd
# System timezone
%include /tmp/timezone.inc

eula --agreed
reboot

# Add User
%include /tmp/user.inc
# System bootloader configuration
bootloader --location=mbr --driveorder=sda  --timeout=2 --append="crashkernel=auto rhgb quiet"

# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
autopart

# ---------
# Packages
# ---------
%packages --ignoremissing --excludedocs
@Base
@Core
nfs-utils
@Development Tools
openssh-clients
sudo
openssl-devel
net-tools
vim
wget
curl
rsync
%end
# ---------
# Packages END
# ---------

# ------
# Addons
# ------
%addon com_redhat_kdump --disable
%end
# ------
# Addons END
# ------

# -----------------
# Post Installation
# -----------------
%post
# Disable unnecessary services
chkconfig acpid off
chkconfig auditd off
chkconfig blk-availability off
chkconfig bluetooth off
chkconfig certmonger off
chkconfig cpuspeed off
chkconfig cups off
chkconfig haldaemon off
chkconfig ip6tables off
chkconfig lvm2-monitor off
chkconfig messagebus off
chkconfig mdmonitor off
chkconfig rpcbind off
chkconfig rpcgssd off
chkconfig rpcidmapd off
chkconfig yum-updateonboot off

# Unnecessary Firmware
-aic94xx-firmware*
-alsa-*
-iwl*firmware
-ivtv*
-rt*firmware
-ql*firmware
-libertas*firmware
-fprintd-pam
-intltool
-mariadb-libs
-postfix
-linux-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware

# Update everything
yum update -y
# Extra packages
yum install -y sudo qemu-guest-agent
yum clean all

# Allow passwordless login for default user
%include /tmp/passwordless_sudo.inc

%end
# -----------------
# Post Installation END
# -----------------

# ---------
# Anaconda
# ---------
%anaconda
# pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
# ---------
# Anaconda END
# ---------
